<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/output.css" rel="stylesheet" />
    <title>🪨 📄 ✂️</title>
  </head>

  <body
    class="bg-white"
    style="
      background-image: url(&quot;../static/images/background.png&quot;);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
    "
  >
    <form class="flex justify-center pt-20" action="/play" method="POST">
      <div class="p-6 rounded-lg shadow-lg bg-opacity-0">
        <div class="flex flex-col items-center space-y-4">
          <h1 class="text-4xl">Rock, Paper, Scissors</h1>
          <h2 class="text-2xl">Choose your weapon!</h2>
          <div class="flex space-x-3">
            <button
              class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded shadow-xl"
              type="submit"
              name="weapon"
              value="rock"
            >
              Rock
            </button>
            <button
              class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded shadow-xl"
              type="submit"
              name="weapon"
              value="paper"
            >
              Paper
            </button>
            <button
              class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded shadow-xl"
              type="submit"
              name="weapon"
              value="scissors"
            >
              Scissors
            </button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
